USE [master]
GO
/****** Object:  Database [pubs_ST]    Script Date: 11/15/2025 10:59:31 PM ******/
CREATE DATABASE [pubs_ST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pubs_ST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pubs_ST.mdf' , SIZE = 32768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pubs_ST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pubs_ST_log.ldf' , SIZE = 32768KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pubs_ST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pubs_ST]
GO
/****** Object:  Table [dbo].[ST_Authors]    Script Date: 11/15/2025 10:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_Authors](
	[au_id] [varchar](11) NULL,
	[au_lname] [varchar](40) NULL,
	[au_fname] [varchar](20) NULL,
	[phone] [varchar](12) NULL,
	[address] [varchar](40) NULL,
	[city] [varchar](50) NULL,
	[state] [char](10) NULL,
	[zip] [char](10) NULL,
	[contract] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_Employees]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_Employees](
	[emp_id] [varchar](9) NULL,
	[fname] [varchar](20) NULL,
	[minit] [varchar](1) NULL,
	[lname] [varchar](30) NULL,
	[job_lvl] [tinyint] NULL,
	[pub_id] [char](10) NULL,
	[hire_date] [datetime] NULL,
	[job_desc] [varchar](50) NULL,
	[min_lvl] [tinyint] NULL,
	[max_lvl] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_FactSales]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_FactSales](
	[stor_id] [char](10) NULL,
	[ord_num] [int] NULL,
	[ord_date] [datetime] NULL,
	[qty] [smallint] NULL,
	[payterms] [varchar](20) NULL,
	[title_id] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_Geography]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_Geography](
	[city] [varchar](20) NULL,
	[state] [varchar](2) NULL,
	[zip] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_Publishers]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_Publishers](
	[pub_id] [char](10) NULL,
	[pub_name] [varchar](40) NULL,
	[city] [varchar](50) NULL,
	[state] [char](10) NULL,
	[country] [varchar](30) NULL,
	[logo] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_Sales1]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_Sales1](
	[stor_id] [char](10) NULL,
	[ord_num] [int] NULL,
	[ord_date] [datetime] NULL,
	[qty] [smallint] NULL,
	[payterms] [varchar](20) NULL,
	[title_id] [varchar](20) NULL,
	[State] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_Stores]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_Stores](
	[stor_id] [varchar](4) NULL,
	[stor_name] [varchar](40) NULL,
	[stor_address] [varchar](40) NULL,
	[city] [varchar](50) NULL,
	[state] [char](10) NULL,
	[zip] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_TitleAuthor]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_TitleAuthor](
	[au_id] [varchar](20) NULL,
	[title_id] [varchar](20) NULL,
	[au_ord] [tinyint] NULL,
	[royaltyper] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_Titles]    Script Date: 11/15/2025 10:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_Titles](
	[title_id] [varchar](6) NULL,
	[title] [varchar](80) NULL,
	[type] [varchar](12) NULL,
	[pub_id] [char](10) NULL,
	[price] [money] NULL,
	[advance] [money] NULL,
	[royalty] [int] NULL,
	[ytd_sales] [int] NULL,
	[pubdate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
